.messenger {
    max-height: 92vh;
    padding: var(--space-m) var(--space-xl);
    border: solid var(--color-border-secondary);
    border-width: 0 1px;
}
.messages {
    flex-grow: 1;
}

.message {
    max-width: 70%;
}

.control {
    margin-top: auto;
    margin-bottom: 0;
}

.operator {
    margin-right: 0;
    margin-left: auto;
    background-color: var(--color-background-primary);
}
